<div class="al-header">
    <img src="../assets/gargantua.png" alt="Gargantua">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
        <a routerLink="/fx-layout-demo">Fx Layout Demo</a>
        <a routerLink="/images">Images</a>
        <a routerLink="/music">Music</a>
        <a routerLink="/tools">Tools</a>
        <a routerLink="/material">Material</a>
    </nav>
    <button id="al-header-toggle-footer"
            (click)="toggleFooter()">Toggle Footer</button>
</div>
