<div fxLayout="row" class="task-list-item__wrapper" (click)="taskItemSelected()">
    <div class="task-list-item__property task-list-item__id">{{task.id}}</div>
    <div class="task-list-item__property task-list-item__epic">{{task.epic}}</div>
    <div class="task-list-item__property task-list-item__name">{{task.name}}</div>
    <div class="task-list-item__property task-list-item__description">{{task.description}}</div>
    <div class="task-list-item__property task-list-item__status">{{task.status}}</div>
</div>
