<h2>My Music Videos</h2>

<p>Darstellung in Ag-Grid Tabelle - Link Youtube Site - Link Details Site - Playlist Funktionalität (mit Shuffle)</p>

<p>finde methode yotube einzubinden ohne iframe</p>

<!-- <ul class="music-videos">
  <li *ngFor="let musicVideo of musicVideos">
    <span>Id: {{musicVideo.id}} - Interpret: {{musicVideo.interpret}} - Titel: {{musicVideo.title}}</span>
    <span *ngFor="let tag of musicVideo.tagList" class="music-video-tag">{{tag}}</span>
  </li>
</ul> -->

<button (click)="getSelectedRows()">Get Selected Rows</button>

<ag-grid-angular
  #agGrid
  style="width: 1333px; height: 200px;"
  class="ag-theme-alpine"
  [rowData]="rowDataMusic"
  [columnDefs]="columnDefsMusic"
  rowSelection="multiple"
  > <!-- @note: "rowSelection="multiple":  We took a bit of a shortcut here, by not binding the property value. Without [], the assignment will pass the attribute value as a string, which is fine for our purposes. -->
</ag-grid-angular>

<!-- <iframe width="640" height="360"
[src]="actualYoutubeUrl | safe">
</iframe> -->

<iframe width="640" height="360"
[src]="sanitizer.bypassSecurityTrustResourceUrl(actualYoutubeUrl)">
</iframe>

<!-- <video controls="true">
  <source src="https://www.youtube.com/embed/3xt8Mp8oWzc" type="video/mp4" />
</video> -->

<!-- <ag-grid-angular
    style="width: 600px; height: 200px;"
    class="ag-theme-alpine"
    [rowData]="rowDataExample"
    [columnDefs]="columnDefsExample"
    >
</ag-grid-angular> -->

